.button {
  height: 43px;
  border-radius: 3px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: #e8833a;

  cursor: pointer;
}

.button.large {
  width: 225px;

  margin: 25px auto;
}

.button.small {
  width: 82px;

  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
}
